<h2>New Group</h2>

<div class="span12">

	<%= simple_form_for @group do |f| %>
		<%= f.input :title, :autofocus => true, :input_html => { :class => "input-xxlarge" } %>
		<%= f.input :description, :input_html => { :class => "input-xxlarge" } %>
		<%= f.file_field :image %>

		<div class="form-actions">
			<%= f.submit "Submit", :disable_with => "Submiting.....", :class => "btn btn-primary" %>
		</div>
	<% end %>
	
</div>