<div class="span12">
	<% if current_user %>
		<div class="group pull-right">
			<% if current_user.is_member_of?(@group) %>
				<%= link_to("Quit Group", quit_group_path(@group), :method => :post, :class => "btn btn-mini")%>
			<% else %>
				<%= link_to("Join Group", join_group_path(@group), :method => :post, :class => "btn btn-mini")%>
			<% end %>
		</div>
	<% end %>

	<div class="group pull-right">
		<% if current_user && @group.editable_by?(current_user) %>
			<%= link_to("Edit", edit_group_path(@group), :class => "btn btn-mini btn-primary") %>
		<% end %>
		<%= link_to("New Post", new_group_post_path(@group), :class => "btn btn-mini btn-primary") if current_user && current_user.is_member_of?(@group) %>
	</div>
	
	<div>
		<h2><%= @group.title %></h2>
		<p><%= image_tag @group.image_url(:thumb).to_s %></p>
		<p><%= simple_format(@group.description) %></p>
	</div>
	
	<table class="table table-bordered">

	  <tbody>
		<% @posts.each do |post| %>
		  <tr>
		  	<td><%= post.id %></td>
		  	<td><%= image_tag post.image_url(:thumb).to_s %></td>
		  	<td>Author: <%= post.author.name %></td>
		  	<td><%= render_post_content(post) %></td>
			<td><%= post.updated_at.to_s(:long) %></td>
			<% if current_user && post.editable_by?(current_user) %>
				<td><%= link_to('Edit', edit_group_post_path(post.group, post), :class => "btn btn-mini") %></td>
				<td><%= link_to('Delete', group_post_path(post.group, post), :class => "btn btn-mini", method: :delete, data: { confirm: 'Are you sure?' }) %></td>
		  </tr>
		  	<% end %>
		<% end %>
	  </tbody>
	</table>

	
	
</div>
