<div class="span12">

<h2>All Posts</h2>
	<%= link_to 'CSV', '/admin/posts.csv' %> |
	<%= link_to 'XML', '/admin/posts.xml' %> |
	<%= link_to 'JSON', '/admin/posts.json' %>
<!--	<table class="table">
		<thead>
			<tr>
				<td>#</td>
				<td>Feature</td>
				<td>Content</td>
				<td>Author</td>
				<td>From Group</td>
				<td>Last Update</td>
			</tr>
		</thead>
		<tbody>
			<% @posts.each do |post| %>
			<tr>
				<td><%= post.id %></td>
				<td><%= image_tag(post.image_url(:thumb).to_s, size: "100") %></td>
				<td><p><%= render_post_content(post) %></p></td>
				<td><%= post.author.name %></td>
				<td><%= render_post_group_title(post) %></td>
				<td><%= post.updated_at.to_s(:long) %></td>
			</tr>
			<% end %>
		</tbody>
	</table>
-->	
	<div class="grid">
		<% @posts.each do |post| %>
		<div class="grid-item">
			<%= image_tag post.image_url(:thumb).to_s %>
			<%= post.content %>
			<%= post.author.name %>
			<%= post.updated_at.to_s(:long) %>
		</div>
		<% end %>
	</div>
	
</div>