<div class="span12">
	<h2>All Groups</h2>
	<%= link_to 'CSV', '/admin/groups.csv' %> |
	<%= link_to 'XML', '/admin/groups.xml' %> |
	<%= link_to 'JSON', '/admin/groups.json' %>

	<table class="table">
		<thead>
			<tr>
				<td>#</td>
				<td>Feature</td>
				<td>Title</td>
				<td>Description</td>
				<td>Post Count</td>
				<td>Last Update</td>
				<td>Owner</td>
			</tr>
		</thead>
		<tbody>
			<% @groups.each do |group| %>
			<tr>
				<td><%= group.id %></td>
				<td><%= image_tag group.image_url(:thumb).to_s %></td>
				<td><%= render_group_title(group) %></td>
				<td><%= render_group_description(group) %></td>
				<td><%= group.posts.size %></td>
				<td><%= group.updated_at.to_s(:long) %></td>
				<td><%= group.owner.name %></td>
			</tr>
			<% end %>
		</tbody>
	</table>
	
</div>